.header {
  background-color:#F4DEB5;
  text-align:center;
  padding:0;
  padding-top:40px;
  padding-bottom:60px;
  margin-bottom:40px;
}

.container {
  padding:0;
  background: #FCFCFC;
}

h1 {
  font-size:72px;
}

h2 {
  padding-bottom:10px;
}

h4 {
  color: #F4DEB5;
}

.widget {

  padding:5px;
  margin-top:10px;
}

#numberLabel {
  margin-right: 10px;
}

#numberInput {
  margin-right:10px;
}

.sidebar {
  height:1000px;
  background-color:#90BB90;
}

body {
  background-color:#E6E6E6;
}

.content {
  height:1000px;
  padding-left:50px;
  padding-top:10px;
}

.h4Content {
  color:#000;
}

.answer-box {
  height:500px;
  border:1px solid #000;
  padding-top:15px;
}
